**Ejercicio Series**

Dadas dos series de representan cantidades

cantidades_prod1 = pd.Series([3, 7, 1], index=['local_a', 'local_b', 'local_c'])
cantidades_prod2 = pd.Series([54, 70, 985] index=['local_a', 'local_b', 'local_c'])

* ¿Qué cantidad de prod2 hay en local_b?

* Usando iloc obtener la suma de prod1 en local_a y local_c

* Usando index responder ¿qué local corresponde al índice 1 de cantidades_prod1?

In [2]:
import numpy as np
import pandas as pd
cantidades_prod1 = pd.Series([3, 7, 1], index=['local_a', 'local_b', 'local_c'])
cantidades_prod2 = pd.Series([54, 70, 985], index=['local_a', 'local_b', 'local_c'])

In [43]:
prod2EnB = cantidades_prod2.loc['local_b']
print(prod2EnB)
Prod2enB = cantidades.iloc[1,1]
Prod2enB

70

70

In [44]:
producto1 = cantidades_prod1.iloc[0] + cantidades_prod1.iloc[2]
producto1

4

In [47]:
cantidades_prod1.index
cantidades_prod1.index[1]

'local_b'

**Ejercicio DataFrame**

* Construir una instancia de DataFrame usando las dos series del ejercicio anterior como columnas.

* Agregar al dataframe del paso anterior la columna 'total' cuyos datos sean el resultado de sumar las columnas 'cantidades_prod1' y 'cantidades_prod2'

* Mostrar los primeros dos registros de ese dataframe

* Mostrar los últimos dos registros de ese dataframe

* Obtener los nombres de locales que tengan en total más de 60 productos

In [38]:
cantidades = pd.DataFrame({'Producto 1': cantidades_prod1,
                           'Producto 2':cantidades_prod2, 
                          })
cantidades['Totales'] = cantidades['Producto 1'] + cantidades['Producto 2']

cantidades

         Producto 1  Producto 2  Totales
local_a           3          54       57
local_b           7          70       77
local_c           1         985      986

In [50]:
cantidades.head(2)

         Producto 1  Producto 2  Totales
local_a           3          54       57
local_b           7          70       77

In [48]:
cantidades.tail(2)

         Producto 1  Producto 2  Totales
local_b           7          70       77
local_c           1         985      986

In [33]:
cantidades[(cantidades['Producto 1'] > 60) | (cantidades['Producto 2'] > 60)]

         Producto 1  Producto 2  Totales
local_b           7          70       77
local_c           1         985      986