Fuente:
    
https://www.kaggle.com/riyadhrazzaq/multinomial-naive-bayes-from-scratch/data

In [32]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelBinarizer

In [12]:
df = pd.read_csv('../Data/spam.csv', encoding='iso8859_14')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [13]:
df.drop(labels=df.columns[2:],axis=1,inplace=True)
df.columns=['target','text']

In [58]:
cv = CountVectorizer()
X = cv.fit_transform(df['text']).toarray()

y = df['target']
print(X.shape,y.shape)

(5572, 8681) (5572,)

In [63]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [82]:
Y = pd.DataFrame(y, columns=['target'])
Y

     target
0       ham
1       ham
2      spam
3       ham
4       ham
...     ...
5567   spam
5568    ham
5569    ham
5570    ham
5571    ham

[5572 rows x 1 columns]

In [21]:
X.shape

(5572, 8681)

In [83]:
result = pd.DataFrame(X, columns = cv.get_feature_names())
to_write = pd.concat([result, Y], axis=1)
to_write.shape

(5572, 8682)

In [86]:
to_write.to_csv('../Data/spam_count_vectorizer.csv', sep='\t', index=False)

In [88]:
data1 = pd.read_csv('../Data/spam_count_vectorizer.zip', sep='\t')
data1

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,ûṫm,ûṫre,ûṫs,ûṫt,ûṫve,ûẃm,ûẃt,ûẃve,ûỳud,target
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ham
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ham
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,spam
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ham
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ham
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,spam
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ham
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ham
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ham
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ham

In [69]:
mask = result.iloc[0, :] != 0
sum(mask)
result.iloc[0].loc[mask]

amore        1
available    1
buffet       1
bugis        1
cine         1
crazy        1
go           1
got          1
great        1
in           1
jurong       1
la           1
only         1
point        1
there        1
until        1
wat          1
world        1
Name: 0, dtype: int64

In [76]:
type(result.iloc[0].loc[mask]).index

In [78]:
[x for x in result.iloc[0].loc[mask].index if x not in df.iloc[0].loc['text']]

['available', 'cine']