In [1]:
%run "../../../common/0_notebooks_base_setup.py"

/Users/csuarezgurruchaga/Desktop/Digital-House/clase_05/dsad_2021/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

---

<img src='../../../common/logo_DH.png' align='left' width=35%/>

## Documentación pandas

https://pandas.pydata.org/pandas-docs/stable/index.html

## Dataset

El dataset que usaremos es una versión muy resumida de datos de la Encuesta Permanentes de Hogares (relevamiento llevado adelante por el INDEC). Se trata de una encuesta continua que tiene como objetivo fundamental generar información sobre el funcionamiento del mercado de trabajo.

Solamente utilizaremos algunas variables (edad, nivel educativo, cantidad de horas trabajadas, calificación de la tarea e ingreso laboral) y algunos casos (los ocupados, es decir, aquellos que han trabajado al menos una hora en la semana anterior al relevamiento).

Este dataset es el mismo que emplearemos en la clase presencial, y en estos ejercicios buscamos  familiarizarnos con él y revisar algunos temas.

Importamos la biblioteca pandas y asignamos pd como alias:

In [2]:
import pandas as pd

## Ejercicio 1

Busquemos en la documentación de pandas la sintaxis del método `read_csv` y leamos en un `DataFrame` llamado data los datos del archivo /M1/CLASE_04/Data/data_filt.csv 

Este archivo tiene algunos datos numéricos y otros de tipo cadena de caracteres. 

Las columnas son:

* ch06: int, edad

* nivel_ed: string, nivel educativo

* htot: int, cantidad de horas totales trabajadas en el período

* calif: string, calificación de la tarea

* p47t: int, ingreso

In [18]:
path="../Data/data_filt.csv"
df=pd.read_csv(path, sep=",", encoding='latin-1')

In [19]:
df.head()

   ch06           nivel_ed  htot            calif     p47t
0    46        1_H/Sec inc    45  2_Op./No calif.   6000.0
1    26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
2    47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
3    52        1_H/Sec inc    90  2_Op./No calif.  11000.0
4    45        1_H/Sec inc    44  2_Op./No calif.   9500.0

In [5]:
df.sample(5)

       ch06           nivel_ed  htot            calif     p47t
5276     75  2_Sec. comp y más    40    1_Prof./Tecn.   7800.0
5864     23  2_Sec. comp y más    22    1_Prof./Tecn.   6800.0
20088    54        1_H/Sec inc    90  2_Op./No calif.   4000.0
17717    24  2_Sec. comp y más    40    1_Prof./Tecn.  10000.0
1549     35  2_Sec. comp y más    40  2_Op./No calif.   4500.0

## Ejercicio 2

Repasemos el concepto de índice y columnas de un `DataFrame`

Accedamos al índice (nombres de las filas) del `DataFrame` data

Accedamos a los nombres de columnas del `DataFrame` data

In [6]:
print(df.index.values)
print("------")
print(df.index)

[    0     1     2 ... 23445 23446 23447]
------
RangeIndex(start=0, stop=23448, step=1)

In [7]:
print(df.columns.values)

['ch06' 'nivel_ed' 'htot' 'calif' 'p47t']

Vamos a modificar ahora el índice de data, así el valor del índice no coincide con la posición y podemos notar diferencias en los ejercicios que siguen.

In [8]:
df.index = df.index + 7
print(df.index)
df.head(5)

RangeIndex(start=7, stop=23455, step=1)

    ch06           nivel_ed  htot            calif     p47t
7     46        1_H/Sec inc    45  2_Op./No calif.   6000.0
8     26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
9     47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
10    52        1_H/Sec inc    90  2_Op./No calif.  11000.0
11    45        1_H/Sec inc    44  2_Op./No calif.   9500.0

## Ejercicio 3

Repasemos el uso de `loc` e `iloc`

* `loc` nos permite acceder a un elemento por su índice

* `iloc` nos permite acceder a un elemento por su posición

Leamos con `loc` y con `iloc` la cuarta fila de data

¿Cómo accedemos al valor del índice en la cuarta fila?

In [9]:
print(df.iloc[3,:])
print("--------------------")
print(df.loc[10,:])#En este caso utilizo 10 que es el valor del indice, luego de sumarle 7 en el paso anterior, y todas las columnas.
print("--------------------")
print(df.index.values[3])

ch06                     52
nivel_ed        1_H/Sec inc
htot                     90
calif       2_Op./No calif.
p47t                  11000
Name: 10, dtype: object
--------------------
ch06                     52
nivel_ed        1_H/Sec inc
htot                     90
calif       2_Op./No calif.
p47t                  11000
Name: 10, dtype: object
--------------------
10

## Ejercicio 4

Repasemos el uso de `loc` combinado con máscaras booleanas.

Queremos construir un objeto `DataFrame` con los registros de edad menor a 15 o mayor igual a 70.

In [10]:
df.head()

    ch06           nivel_ed  htot            calif     p47t
7     46        1_H/Sec inc    45  2_Op./No calif.   6000.0
8     26  2_Sec. comp y más    25  2_Op./No calif.   5000.0
9     47  2_Sec. comp y más    25  2_Op./No calif.   5000.0
10    52        1_H/Sec inc    90  2_Op./No calif.  11000.0
11    45        1_H/Sec inc    44  2_Op./No calif.   9500.0

In [11]:
df.ch06 = (df.ch06).astype(int)
print(df.isnull().values.any())#Reviso que no tenga ningun elemento basura en mi data, dsp de haberla cargado y preparado.

False

In [12]:
df2 = df.loc[(df['ch06'] < 15) | (df['ch06'] >= 70)]
df2.head()

     ch06           nivel_ed  htot            calif     p47t
17     72        1_H/Sec inc    15    1_Prof./Tecn.   8300.0
251    71  2_Sec. comp y más     8    1_Prof./Tecn.   7102.0
416    71        1_H/Sec inc    63  2_Op./No calif.  11800.0
663    72  2_Sec. comp y más    44    1_Prof./Tecn.  17000.0
773    84  2_Sec. comp y más    30    1_Prof./Tecn.   7800.0

## Ejercicio 5

Calculemos algunas métricas sobre un objeto `DataFrame`

* Promedio de edad

* Máximo de horas trabajadas

* Mediana de ingreso

In [13]:
df.ch06.mean()

40.455689184578645

In [15]:
df.htot = (df.htot).astype(int)
df.htot.max()

168

In [20]:
df.p47t.median()

7000.0