In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("melb_data.csv")
df.shape

(13580, 21)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [17]:
df.BuildingArea.isnull().sum()
#Cuento cuantos valores nulos tengo en la columna building Area

6450

#### FILLNA WITH RANDOM VALUES

In [10]:
df2 = df.copy()
possibleValues = df2.BuildingArea[df2.BuildingArea.notnull()]

In [22]:
rng = np.random.default_rng()
indexx = rng.integers(low=0, high = len(possibleValues), size = 1)

In [23]:
print(indexx)

[7064]

In [28]:
newvalue = possibleValues.iloc[indexx[0]]

In [31]:
df2.BuildingArea.fillna(newvalue, inplace = True)

#### FILLNA WITH MEAN () VALUES

In [33]:
df3 = df.copy()

In [34]:
df3.BuildingArea.isnull().sum()

6450

In [36]:
df3.BuildingArea.fillna(df3.BuildingArea.mean(), inplace = True)

In [37]:
df3.BuildingArea.isnull().sum()

0

#### FILLNA CON MEDIA CONDICIONADA

In [39]:
df4 = df.copy()

In [42]:
filler_values = df4.groupby('CouncilArea').BuildingArea.mean()

In [44]:
filler_values.head()

CouncilArea
Banyule       150.988636
Bayside       193.903500
Boroondara    188.153227
Brimbank      141.652200
Cardinia      267.958000
Name: BuildingArea, dtype: float64

In [45]:
filler_values.index

Index(['Banyule', 'Bayside', 'Boroondara', 'Brimbank', 'Cardinia', 'Casey',
       'Darebin', 'Frankston', 'Glen Eira', 'Greater Dandenong', 'Hobsons Bay',
       'Hume', 'Kingston', 'Knox', 'Macedon Ranges', 'Manningham',
       'Maribyrnong', 'Maroondah', 'Melbourne', 'Melton', 'Monash',
       'Moonee Valley', 'Moorabool', 'Moreland', 'Nillumbik', 'Port Phillip',
       'Stonnington', 'Unavailable', 'Whitehorse', 'Whittlesea', 'Wyndham',
       'Yarra', 'Yarra Ranges'],
      dtype='object', name='CouncilArea')

In [48]:
#COnvierto a df para poder mergearlo con mi df
filler_values_df = pd.DataFrame(filler_values)
filler_values_df.reset_index = True

In [49]:
filler_values_df.head()

             BuildingArea
CouncilArea
Banyule        150.988636
Bayside        193.903500
Boroondara     188.153227
Brimbank       141.652200
Cardinia       267.958000

In [205]:
df4 = pd.merge(df4, filler_values_df, on = "CouncilArea", suffixes = ("", "_mean") , how = 'left')
df4.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,BuildingArea_mean,BuildingArea_mean,BuildingArea_mean
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,114.525127,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,114.525127,114.525127,114.525127
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,79.000000,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,114.525127,114.525127,114.525127
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,150.000000,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,114.525127,114.525127,114.525127
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,114.525127,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,114.525127,114.525127,114.525127
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,142.000000,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,114.525127,114.525127,114.525127

In [53]:
df4.BuildingArea.fillna(df4.BuildingArea_mean, inplace = True)

In [57]:
df4.BuildingArea.isnull().sum()

687

#### REGEX (REGULAR EXPRESIONS)

¿Qué patrón pueden identificar para los siguientes strings?

ana_laura@hotmail.com

juan.perez@gmail.com

florgimenez@yahoo.com.ar

In [121]:
import re 

string = """ana_laura@hotmail.com

            juan.perez@gmail.com

            florgimenez@yahoo.com.ar"""

patron = re.compile(r'(\w+)@(\w+)?(.com)?(.ar)?')

mo1 = patron.findall(string)

In [123]:
print(mo1)

[('ana_laura', 'hotmail', '.com', ''), ('perez', 'gmail', '.com', ''), ('florgimenez', 'yahoo', '.com', '.ar')]

### HANDS ON

Ejercicio 1

Usando los datos de propiedades de Melbourne (../Data/melb_data.csv), queremos imputar los valores faltantes del campo YearBuilt usando la mediana de ese campo por vendedor SellerG

¿Cántos valores nulos en el campo YearBuilt hay antes de la imputación?

¿Cántos valores nulos en el campo YearBuilt hay después de la imputación?

In [193]:
data = pd.read_csv('melb_data.csv')

In [194]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [195]:
data.YearBuilt.isnull().sum()
#Tengo 5375 valores nulos(Null/Nan/Nat), antes de la imputacion

5375

In [192]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [197]:
fillers = data.groupby('SellerG').YearBuilt.median()

In [199]:
fillers.index

Index(['@Realty', 'ASL', 'Abercromby's', 'Ace', 'Alexkarbon', 'Allens',
       'Anderson', 'Appleby', 'Aquire', 'Area',
       ...
       'Zahn', 'buyMyplace', 'hockingstuart', 'hockingstuart/Advantage',
       'hockingstuart/Barry', 'hockingstuart/Village', 'iOne', 'iProperty',
       'iSell', 'iTRAK'],
      dtype='object', name='SellerG', length=268)

In [200]:
#Convierto a DataFrame para poder mergearlo con mi data
df_filler = pd.DataFrame(fillers)

In [201]:
df_filler.head()

              YearBuilt
SellerG
@Realty          1970.0
ASL              1962.5
Abercromby's     1946.5
Ace                 NaN
Alexkarbon       2000.0

In [202]:
df_filler.reset_index=True

In [206]:
merge_filler = pd.merge(data,df_filler, on = 'SellerG', how = "left", suffixes = ("", "_median"))

In [208]:
merge_filler.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,YearBuilt_median
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,1970.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,1970.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,1970.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,1970.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,1960.0

In [211]:
data.YearBuilt.fillna(merge_filler.YearBuilt_median, inplace = True)

In [213]:
data.YearBuilt.isnull().sum()

51

**Quedaron 51 filas con valures nulos en YearBuilt, dsp de la imputacion condicional**

In [220]:
#Estos 51 registros corresponden a los siguientes vendedores
data[data.YearBuilt.isnull()].SellerG.unique()

array(['Propertyau', 'North', 'Joe', 'Thomas', 'CASTRAN', 'Coventry',
       'Reach', 'Nguyen', 'Changing', 'Elite', 'Leased',
       'hockingstuart/Barry', 'Blue', 'Steveway', 'Parkinson', 'Calder',
       'David', 'White', 'Craig', 'Metro', 'Ace', 'JRW', 'M.J', 'Asset',
       'Mitchell', 'Conquest', 'Community', 'Free', 'Xynergy', 'Keatings',
       'Better', 'Nicholls', 'Meadows', 'L', 'Darras', 'Roger', 'Le',
       'Boutique', 'Area', 'PRD'], dtype=object)

Ejercicio 2
Queremos definir una expresión regular que nos permita extraer el punto cardinal al que referencia Regionname en los datos de propiedades de Melbourne (../Data/melb_data.csv),

Por ejemplo:

si el valor es Northern Metropolitan o Northern Victoria, el resultado debe ser North

si el valor es Western Metropolitan o Western Victoria, el resultado debe ser West

si el valor es Southern Metropolitan o Southern Victoria, el resultado debe ser South

si el valor es Eastern Metropolitan o Eastern Victoria, el resultado debe ser East

Sugerencia: usar como textos para hacer pruebas

'Northern Metropolitan',

'Western Metropolitan',

'Southern Metropolitan',

'Eastern Metropolitan',

'South-Eastern Metropolitan',

'Eastern Victoria',

'Northern Victoria',

'Western Victoria'

y el método search

In [429]:
import re
patron = re.compile(r'(^N(\w){4})|(^W(\w){3})|(^S(\w){4}-(\w){4})|(^S(\w){4})|(^E(\w){3})')

mo1 = patron.search('South Metropolitan')

In [430]:
mo1.group()

'South'

Ejercicio 3

Usando la expresión regular definida en el punto anterior, el método apply y una función lambda, obtener una instancia de Series con los puntos cardinales a los que referencia Regionname en cada registro.

In [436]:
def puntoCardinal(x):
    patron = re.compile(r'(^N(\w){4})|(^W(\w){3})|(^S(\w){4}-(\w){4})|(^S(\w){4})|(^E(\w){3})')
    mo1 = patron.search(x)
    return mo1.group()


data_cardinal = data.Regionname.apply(lambda x: puntoCardinal(x))

In [439]:
data_cardinal.sample(10)

11812     West
12815    South
898      South
3637     South
3828     South
7776     North
13224    South
3928      West
11640     East
3282      East
Name: Regionname, dtype: object

In [171]:
merge1 = pd.DataFrame({'movie_id':[1,2,3,4,5], 'ranking':[9,8,9,5,4], 'user_id':['5','232323','4444','43222','555'], 'genero':['accion','suspenso','terror','animacion','accion']})
merge1

   movie_id  ranking user_id     genero
0         1        9       5     accion
1         2        8  232323   suspenso
2         3        9    4444     terror
3         4        5   43222  animacion
4         5        4     555     accion

In [172]:
merge = pd.DataFrame([{'movie_id' : 1, 'movie': 'Toy Story', 'genero':'accion'},{'movie_id': 2, "movie": 'Star Wars','genero':'terror'},{'movie_id':3, "movie":'Madagascar','genero':'comedia'},{'movie_id':4 , 'movie':'Depredador', 'genero':'animacion'}])

In [173]:
merge

   movie_id       movie     genero
0         1   Toy Story     accion
1         2   Star Wars     terror
2         3  Madagascar    comedia
3         4  Depredador  animacion

In [157]:
merge.columns

Index(['movie_id', 'movie', 'id'], dtype='object')

In [154]:
merge1.columns

Index(['movie_id', 'ranking', 'user_id'], dtype='object')

In [191]:
mergeo = pd.merge(merge,merge1, on = "movie_id",suffixes = ("", "_mean"), how='outer')
mergeo

   movie_id       movie     genero  ranking user_id genero_mean
0         1   Toy Story     accion        9       5      accion
1         2   Star Wars     terror        8  232323    suspenso
2         3  Madagascar    comedia        9    4444      terror
3         4  Depredador  animacion        5   43222   animacion
4         5         NaN        NaN        4     555      accion

In [178]:
mergeo = pd.merge(merge,merge1, on = "movie_id")

In [179]:
mergeo

   movie_id       movie   genero_x  ranking user_id   genero_y
0         1   Toy Story     accion        9       5     accion
1         2   Star Wars     terror        8  232323   suspenso
2         3  Madagascar    comedia        9    4444     terror
3         4  Depredador  animacion        5   43222  animacion